<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SeguritoProject</display-name>
  <welcome-file-list>
  <welcome-file>loggin.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<env-entry>
  	<env-entry-name>jdbcURL</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>jdbc:oracle:thin:@localhost:1521:xe</env-entry-value>
  </env-entry>
  <env-entry>
  	<env-entry-name>jdbcUsername</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>seguritoproject</env-entry-value>
  </env-entry>
    <env-entry>
  	<env-entry-name>jdbcPassword</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>seguritoproject</env-entry-value>
  </env-entry>
      <env-entry>
  	<env-entry-name>jdbcDriver</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>oracle.jdbc.driver.OracleDriver</env-entry-value>
  </env-entry>
</web-app>